!- Font Render
Xft.dpi:96
Xft.antialiasing:true
Xft.rgba:rgb
Xft.hinting:true
Xft.lcdfilter:lcddefault

*.cursorColor: #ebac54

!URxvt.borderColor:#1B1D1E
URxvt.borderless:true
URxvt.internalBorder:10 

URxvt.underlineColor:       #333333
URxvt.highlightColor:       #6eddba
URxvt.highlightTextColor:   #353535

URxvt.scrollstyle:plain
URxvt.scrollBar:false
URxvt.scrollTtyOutput:false
URxvt.scrollWithBuffer:true
URxvt.scrollTtyKeypress:true

URxvt.cursorBlink:          true
URxvt.cursorUnderline:      false
URxvt.depth:31

!- Perl Extension
URxvt.url-launcher: chromium
URxvt.matcher.button:1

!copy and paste 
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,clipboard, keyboard-select
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

URxvt.underlineURLs:true
URxvt.font:xft:NotoMono-Regular:pixelsize=14
URxvt.transparent:false
URxvt.shading:30
URxvt.geometry:85x22

!-Urgent Terminal for Notification
URxvt*urgentOnBell: true
URxvt*visualBell:   false

!colorscheme

*.foreground:  #ecf0c1
*.background:  #0a1e24
*.cursorColor: #708284
!
! Black
*.color0:      #6e5346
*.color8:      #684c31
!
! Red
*.color1:      #e35b00
*.color9:      #ff8a3a
!
! Green
*.color2:      #5cab96
*.color10:     #aecab8
!
! Yellow
*.color3:      #e3cd7b
*.color11:     #ffc878
!
! Blue
*.color4:      #0f548b
*.color12:     #67a0ce
!
! Magenta
*.color5:      #e35b00
*.color13:     #ff8a3a
!
! Cyan
*.color6:      #06afc7
*.color14:     #83a7b4
!
! White
*.color7:      #f0f1ce
*.color15:     #fefff1
!
! Bold, Italic, Underline
*.colorBD:     #ffffff
!*.colorIT:
!*.colorUL:

! Rofi
rofi.color-enabled: true
rofi.color-window: argb:dc002b37, #002b37, #003642
rofi.color-normal: argb:dc002b37, #819396, argb:dc003643, #008ed4, #ffffff
rofi.color-active: #002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent: #002b37, #da4281, #003643, #008ed4, #890661 rofi.color-enabled: true
